@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-white-50">
    <h1 class="display-4 bg-orange text-white" >Welcome to PicthIt</h1>

</div>

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>




    <!-- SHOWCASE SLIDER -->
    <section id="showcase">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item carousel-image-1 active">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-right mb-5">
                            <h1 class="display-3 text-black-50">Heading One</h1>
                            <p class="lead">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione
                                quod aliquid inventore vero perspiciatis.
                            </p>
                            <a href="#" class="btn btn-primary btn-lg">Sign Up Now</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-image-2">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block mb-5">
                            <h1 class="display-3 text-black-50">Heading Two</h1>
                            <p class="lead">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione
                                quod aliquid inventore vero perspiciatis.
                            </p>
                            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-image-3">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-right mb-5">
                            <h1 class="display-3">Heading Three</h1>
                            <p class="lead">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, aperiam vel ullam deleniti reiciendis ratione
                                quod aliquid inventore vero perspiciatis.
                            </p>
                            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
                <span class="carousel-control-prev-icon"></span>
            </a>

            <a href="#myCarousel" data-slide="next" class="carousel-control-next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>

        <container>
            <div class="text-center">
                <h2 class="display-4 bg-orange text-white">Projects Features </h2>

            </div>
        </container>

        
    </section>
    <!-- BLOG SECTION -->
    <section id="blog" class="py-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card-columns">
                        <div class="card">
                            <img src="https://source.unsplash.com/random/300x200" alt="" class="img-fluid card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">Blog Post One</h4>
                                <small class="text-muted">Written by Jeff on 05/20</small>
                                <hr>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                    molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                    exercitationem.
                                </p>
                            </div>
                        </div>



                        <div class="card">
                            <img src="https://source.unsplash.com/random/301x200" alt="" class="img-fluid card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">Blog Post Two</h4>
                                <small class="text-muted">Written by Karen on 05/22</small>
                                <hr>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                    molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                    exercitationem.
                                </p>
                            </div>
                        </div>


                        <div class="card">
                            <img src="https://source.unsplash.com/random/302x200" alt="" class="img-fluid card-img-top">
                            <div class="card-body">
                                <h4 class="card-title">Blog Post Three</h4>
                                <small class="text-muted">Written by Harry on 05/23</small>
                                <hr>
                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla facilis, sequi excepturi, quisquam, dignissimos
                                    molestiae dicta dolore dolores quas vel sunt placeat tempora expedita suscipit. Magni vel iusto mollitia
                                    exercitationem.
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
